body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
}
.bg-action, .bg-action-hover:hover {
  background-color: #4C3C90 !important;
}