.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
}
.container_Form {
  width: -webkit-fill-available;
  display: flex;
  margin: 3rem 0 3rem 0px;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid; */
}
.form_contact {
  padding: 10px;
  display: flex;
  text-align: left;
  flex-direction: column;
}
.form_contact button {
  width: 100%;
}
.container.form_contact p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.form_contact .title {
  font-size: 28px;
}

@media (max-width: 1200px) {
  .container_Form {
    width: auto;
  }
}
