.imageTitle {
  margin-right: 15px;
  justify-content: center;
  align-items: center;
}

.infoTitle {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 2px;
}

.infoText {
  display: inline-flex;
  font-size: 12px;
  font-weight: 800;
  margin-left: 18px;
  color: #4c3c90;
}
.ContainerInfo {
  padding: 6px;
  margin-top: 10px;
}
.priceTxt {
  font-weight: bold;
  font-size: 19px;
  color: #4c3c90;
  margin-top: 25px;
}
.footerCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.FavoriteButton {
  color: #4c3c90;
  margin-top: 10px;
  place-self: self-end;
}

.heart {
  position: relative;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  /* margin-top: auto;
  margin-bottom: 0.5rem; */
}

.heart__checkbox {
  appearance: none;
  position: absolute;
  top: calc(var(--size) * -0.4);
  left: calc(var(--size) * -0.2);
  width: calc(var(--size) * 1.5);
  height: calc(var(--size) * 1.5);
  z-index: 2;
  cursor: pointer;
  transform: scale(1) rotate(45deg);
  outline: red !important;
}

.heart__checkbox:focus {
  outline: none;
}

.heart__checkbox:hover ~ .heart__icon {
  transform: scale(1.1) rotate(45deg);
}

.heart__checkbox:checked ~ .heart__icon {
  animation: heartAnimation forwards 1s;
}

.heart__icon {
  width: var(--size);
  height: var(--size);
  background: lightpink;
  transform: scale(1) rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 200ms ease-out;
}

.heart__icon::before,
.heart__icon::after {
  content: "";
  display: block;
  background: inherit;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
}

.heart__icon::before {
  top: 0;
  left: -50%;
}

.heart__icon::after {
  left: 0;
  top: -50%;
}

@keyframes heartAnimation {
  0% {
    transform: scale(1.1) rotate(45deg);
  }

  25% {
    transform: scale(0.7) rotate(45deg);
  }

  45% {
    transform: scale(1.4) rotate(45deg);
    background: red;
  }

  70% {
    transform: scale(1) rotate(45deg);
    background: red;
  }

  100% {
    transform: scale(1.1) rotate(45deg);
    background: red;
  }
}
