<<<<<<< HEAD:client/src/Components/FormContraseña/Styles.css
.form-login {
  z-index: -10;
  width: 360px;
  padding: 40px;
  display: flex;
  text-align: left;
  flex-direction: column;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.028),
    0 6.7px 5.3px rgba(0, 0, 0, 0.04), 0 12.5px 10px rgba(0, 0, 0, 0.05),
    0 22.3px 17.9px rgba(0, 0, 0, 0.06), 0 41.8px 33.4px rgba(0, 0, 0, 0.072),
    0 100px 80px rgba(0, 0, 0, 0.1);
}
.title {
  margin: 0 0 10px 0;
  font-size: 2em;
}
.input {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
=======
.form {
  width: 470px;
  height: 280px;
  padding: 20px;
  display: flex;
  text-align: left;
  flex-direction: column;
  
}
.title {
  margin: -20px 0 30px 0;
  font-size: 1.4em;
  font-weight: 400;

}
.input {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
<<<<<<< HEAD
>>>>>>> dev:client/src/Components/FormContraseña/Styles.module.css
=======

.text {
  margin-bottom: 20px;
  font-size: 15px;
}

.errorText {
  font-size: 10px;
}

.danger {
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}
>>>>>>> dev
