/* "https://i.ibb.co/M928sHD/land9.jpg" */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  background-image: url(https://i.ibb.co/M928sHD/land9.jpg);
  background-size: cover;
  background-position: center;
}

.image {
  border-radius: 6px;

  height: 100vh;
}

.image2 {
  margin: 40px;
  margin-top: 60px;
  width: -webkit-fill-available;
}

.h2text {
  margin: 40px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}

.textContainer {
  background-color: rgba(0, 0, 0, 0.637);
  float: left;
  position: absolute;
  width: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  right: 0;
}

.textContainer p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: justify;
}

.Icon {
  color: #c63b8e;
  width: 100%;
  height: 40px;
  margin-bottom: 25px;
  margin-left: 47%;
}
@media (max-width: 800px) {
  .image {
    width: 80%;
  }
  .textContainer {
    width: -webkit-fill-available;
    margin-left: 0%;
  }
}
