.footer {
  color: #fff;
  background: #4c3c90;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .linea {
  background-color: #fff;
  width: 1px;
  height: 60%;
}
.footer .contacto {
  width: calc(100% / 3);
  text-align: center;
  padding: 0 calc(8% / 1) 0 calc(8% / 1);
}
.footer .contacto .left_contact {
  float: left;
}
.footer .contacto .left_contact .container_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .contacto .right_contact {
  float: right;
}
.footer .derechos {
  text-align: center;
  width: calc(100% / 3);
}

.footer .logo_footer {
  width: calc(100% / 3);
  text-align: center;
}
.footer .logo_footer img {
  width: calc(100px / 0.4);
}
@media (max-width: 1200px) {
  .footer .contacto {
    padding: 0 calc(3% / 1) 0 calc(3% / 1);
  }
  .footer .logo_footer img {
    width: calc(100px / 0.5);
  }
}
