.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 2rem;
}
.container_Form {
  width: -webkit-fill-available;
  display: flex;
  margin: 3rem 0 3rem 0px;
  height: 500px;
  justify-content: space-around;
  /* border: 1px solid; */
}
.container .about_contact {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-around;
  /* border-bottom: 1px solid; */
  padding: 0 0 2rem 0;
}
.container .about_contact .contact {
  display: flex;
}
.container .about_contact .contact .icon {
  margin: 0 1rem 0 0;
}
.container .about_contact .contact .info {
  margin: 1rem 0 0 0;
}
.container .about_contact .contact .info p {
  margin: 0 0 0.5rem 0;
}
.container .form_contact {
  padding: 40px;
  display: flex;
  text-align: left;
  flex-direction: column;
}
.container .form_contact button {
  width: 10rem;
}
.container.form_contact p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.container .form_contact .title {
  font-size: 28px;
}
.container .container_redes {
  display: flex;
  width: max-content;
}
.container .container_redes .red {
  display: flex;
  /* border: 1px solid; */
  margin: 1rem;
  padding: 1rem;
  align-items: center;
}
.container .container_redes .red button {
  margin: 2rem 2rem 0 3rem;
}
.container .container_redes .red .icon_red {
  /* border: 1px solid; */
  padding: 1rem;
  margin: 0rem 2rem 0 0rem;
  border-radius: 50%;
}
.img {
  width: calc(80rem / 3.4);
  height: calc(80rem / 3.3);
}
.linea {
  display: none;
}
@media (max-width: 1200px) {
  .container_Form {
    width: auto;
  }
  .container .about_contact {
    flex-direction: column;
    border-bottom: 0px;
    width: auto;
  }
  .container .about_contact .contact {
    padding: 0 0 2rem 0;
  }
  .linea {
    display: block;
    height: 1px;
    width: 80%;
    background-color: black;
  }
  .img {
    display: none;
  }
  .container .container_redes {
    flex-direction: column;
    width: auto;
  }
  .container .container_redes .red {
    flex-direction: column;
    padding: 2rem;
  }
  .container .container_redes .red .info {
    text-align: center;
  }
  .container .container_redes .red .icon_red {
    margin: 0 0 0 0;
  }
  .container .container_redes .red button {
    margin: 2rem 0rem 0px 0rem;
  }
}
