.navBarContainer {
  height: 160px;
  background-color: #fff;
  z-index: 1;
}

.logo {
  float: left;
  line-height: 160px;
  text-align: left;
  padding-left: 5rem;
}
.logo img {
  line-height: 160px;
  height: 100px;
}

.centerImg {
  line-height: 160px;
  height: 100px;
  margin-top: 25px;
}

.links {
  float: right;
  width: 700px;
  line-height: 160px;
  text-align: right;
  padding-right: 150px;
}

.texto {
  color: #616160;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu_bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav_menu {
  position: fixed;
  top: 0;
  left: -100%;
}

.nav_text {
  display: flex;
  align-items: center;
  height: 60px;
}

.text {
  list-style: none;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .nav_menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
